#inovators {
  margin-top: 456px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: relative;
}

.inovators-description {
  position: sticky;
  position: -webkit-sticky;
  display: inline-flex;
  height: 334px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  width: 482px;
  margin-left: 104px;
  margin-top: 96px;
  top: 0;
}

.inovators-description h3 {
  font-family: "Fuse V.2 Display";
  font-size: 81px;
  font-style: normal;
  font-weight: 800;
  line-height: 88px;
  letter-spacing: -1.62px;
}

.inovators-description p {
  font-family: "Fuse V.2 Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.inovators-people {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 216px));
  justify-content: space-around;
  gap: 24px;
}

.inovators-people .one-person:nth-child(3n + 4) {
  margin-top: -112px;
}

.inovators-people .one-person:nth-child(2) {
  padding-top: 112px;
}

.inovators-people .one-person:nth-child(3n + 6) {
  margin-top: -112px;
}

.one-person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.one-person div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.one-person-name {
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.one-person-title {
  color: var(--Dark-gray, #54545f);
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -1px;
}

.one-person object {
  width: 77px;
  height: 18px;
}

.one-person img {
  width: 216px;
  height: 312px;
  background: linear-gradient(
    123.15deg,
    rgba(13, 143, 211, 0.68) -3.37%,
    rgba(10, 58, 167, 0.68) 17.75%,
    rgba(197, 55, 84, 0.68) 53.11%,
    rgba(250, 82, 64, 0.68) 70.34%,
    rgba(252, 221, 163, 0.68) 103.4%
  );
}
@media screen and (max-width: 1300px) and (min-width: 1043px) {
  .inovators-people .one-person:nth-child(3n + 4),
  .inovators-people .one-person:nth-child(3n + 6) {
    margin-top: 0;
  }

  .inovators-people .one-person:nth-child(2) {
    padding-top: 0;
  }

  .inovators-people .one-person:nth-child(2n + 3) {
    margin-top: -96px;
  }

  .inovators-people .one-person:nth-child(2) {
    padding-top: 96px;
  }
}
@media screen and (max-width: 1042px) and (min-width: 1000px) {
  .inovators-people .one-person:nth-child(3n + 4),
  .inovators-people .one-person:nth-child(3n + 6) {
    margin-top: 0;
  }

  .inovators-people .one-person:nth-child(2) {
    padding-top: 0;
  }
}
@media screen and (max-width: 1000px) {
  #inovators {
    flex-direction: column;
    align-items: center;
  }

  .inovators-description {
    position: relative;
    width: 327px;
    margin-left: 0;
  }

  .one-person img {
    width: 156px;
    height: 228px;
  }

  .inovators-description h3 {
    font-size: 54px;
    line-height: 68px;
    letter-spacing: -0.01em;
  }

  .inovators-people {
    gap: 11px;
    width: 100vw;
    grid-template-columns: repeat(2, 156px);
  }

  .one-person {
    width: 156px;
  }

  .inovators-people .one-person:nth-child(3n + 4),
  .one-person:nth-child(3n + 6) {
    margin-top: 0;
  }

  .inovators-people .one-person:nth-child(2) {
    padding-top: 0;
  }

  .inovators-people .one-person:nth-child(2n + 3) {
    margin-top: -96px;
  }

  .inovators-people .one-person:nth-child(2) {
    padding-top: 96px;
  }
}
