.looking-for-job{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}

.looking-for-job-intro{
    display: flex;
    flex-direction: column;
    margin-right: 728px;
    margin-left: 312px;
}
.looking-for-job-intro h4{
    color: var(--white);
    font-family: "Fuse V.2 Display";
    font-size: 54px;
    font-weight: 800;
    line-height: 68px; /* 125.926% */
    letter-spacing: -0.54px;
    width: 400px;
    height: 58px;
    padding: 0;
    margin-bottom: 40px;
}
.looking-for-job-intro p{
    color: var(--light-gray);
    font-family: "Fuse V.2 Text";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 400px;
    height: 62px;
    padding: 0;
    margin-bottom: 50px;
}
.arrows{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.arrows img{
    background-color: rgba(245, 245, 247, 0.05);
    padding: 16px;
    cursor: pointer;
}

.big-job-ads{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 366px;
    overflow-x: scroll;
    align-self: center;
    margin-bottom: 114px;
}
.big-job-ads::-webkit-scrollbar{
    display: none;
}

.big-job-ad{
    display: inline-flex;
    flex-direction: row;
    padding: 24px 40px 24px 24px;
}

.job-main-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 55px;
}

.job-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.job-title img{
    width: 59px;
    height: 40px;
    margin-bottom: 0;
}
.job-title h5{
    width: 233px;
    color: var(--white);
    font-family: "Fuse V.2 Display";
    font-size: 36px;
    font-weight: 800;
    line-height: 40px; /* 111.111% */
    margin-top: 0;
}

.job-main-information span{
    color: var(--white);
    font-family: "Fuse V.2 Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */
    display: flex;
    align-items: center;
    gap: 8px;
}

.job-ad-image{
    margin-right: 24px;
}

.job-caption{
    display: flex;
    margin-left: 0;
    flex-direction: column;
}
.job-caption p{
    color: var(--light-gray);
    font-family: "Fuse V.2 Text";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 396px;
}
.job-caption span{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    font-family: "Fuse V.2 Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */
    gap: 8px;
    cursor: pointer;
}
.job-caption span img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 0.208px 2.335px 0.208px 2.355px;
}

.arrows-intersection{
    display: flex;
    padding-left: 312px;
    margin-bottom: 16px;
}

.small-job-ads{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 70%;
    align-self: center;
}
.small-job-ads::-webkit-scrollbar{
    display: none;
}

.small-job-ad{
    display: inline-flex;
    height: 366px;
    padding: 24px 40px 24px 24px;
    gap: 24px;
    margin: 0;
    margin-right: 32px;
}
.small-job-ad .job-main-information{

}
.small-job-ad .job-title h5{
    width: 233px;
    height: 80px;
    margin-bottom: 0;
}
.small-job-ad .job-title span img{
    width: 5.31px;
    height: 9.583px;
}
