.more-questions{
    display: flex;
    flex-direction: column;
    margin-top: 513px;
    align-items: center;
    margin-bottom: 214px;
}
.more-questions h2{
    width: 892px;
    height: 118.855px;
    color: var(--white);
    text-align: center;
    font-family: "Fuse V.2 Display";
    font-size: 122px;
    font-weight: 800;
    line-height: 120px; /* 98.361% */
    letter-spacing: -2.44px;
    margin-bottom: 48px;
}
.more-questions p{
    display: flex;
    width: 283px;
    height: 15.847px;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    font-family: "Fuse V.2 Display";
    font-size: 16px;
    font-style: normal;
    line-height: 16px; /* 100% */
    margin-bottom: 24px;
}

.social-media-3{
    display: flex;
    gap: 36px;
    margin-bottom: 116px;
}
.social-media-3 img{
    padding: 8px;
}

.input-fields{
    width: 504px;
    height: 247px;
    display: flex;
    flex-direction: column;
}

#sta-te-zanima {
    background-color: var(--white-5);
    width: 504px;
    height: 66.361px;
    border: none;
}
#sta-te-zanima::placeholder{
    padding-left: 24px;
    width: 104px;
    height: 15.847px;
    color: var(--white);
    font-family: "Fuse V.2 Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */


}
#ime-i-prezime, #email, #poruka{
    background-color: var(--black);
    width: 504px;
    height: 66.361px;
    border: none;
    border-bottom: 1px solid rgba(245, 245, 247, 0.1);

}
#ime-i-prezime::placeholder, #email::placeholder, #poruka::placeholder{
    padding-left: 24px;
    color: var(--white);
    font-family: "Fuse V.2 Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.post-input-fields{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 504px;
}
.post-input-fields p{
    display: flex;
    align-items: flex-end;
    display: flex;
    width: 46px;
    height: 13.866px;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    font-family: "Fuse V.2 Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    letter-spacing: 0.28px;
    margin-bottom: 17.83px;
}
.post-input-fields button{
    display: flex;
    width: 151px;
    height: 43.58px;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    flex: 1 0 0;
    background-color: var(--black);
    border-image-source: linear-gradient(
        124.93deg,
        #0d8fd3 5.44%,
        #0b60bb 17.95%,
        #0a3aa7 36.44%,
        #6a387d 69.53%,
        #c53754 105.59%,
        #fa5240 117.57%
    );
    border-image-slice: 1;
    border-color: transparent;

    color: var(--White, #F5F5F7);
    font-family: "Fuse V.2 Display";
    font-size: 16px;
    font-weight: 800;
    line-height: 16px; /* 100% */
    letter-spacing: 1.28px;
    margin: 0;
}
/* hover to be added */

@media only screen and (min-width: 375px) and (max-width: 1399px){
 .more-questions{
    width: 100%;
    margin-top: 100px;
    margin: 0;
 }   
 .more-questions h2{
    width: 300px;
    font-size: 60px;
    height: 200px;
    line-height: 80px;
 }
 .input-fields{
    width: 80%;
    align-items: flex-start;
    overflow: hidden;
 }
 
 .post-input-fields{
    width: 100%;
    margin-top: 10px;
    padding-right: 40px;
    margin-bottom: 100px;
 }
 .post-input-fields p{
    display: none;
 }
}
