.schedule-title {
  font-family: "Fuse V.2 Display";
  font-size: 122px;
  font-weight: 800;
  line-height: 120px;
  letter-spacing: -2.44px;
  z-index: 1;
}

.schedule {
  margin-top: 86px;
  width: 64%;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  margin-top: 114px;
  gap: 40px;
}

.tabs a {
  font-family: "Fuse V.2 Display";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.tabs a:first-of-type {
  text-decoration: none;
  display: inline-block;
  position: relative;
  background: var(
    --Gradients-Button,
    linear-gradient(
      125deg,
      #0d8ed3 5.44%,
      #0b60bb 17.95%,
      #0a3aa7 36.44%,
      #6a387d 69.53%,
      #c53754 105.59%,
      #fa5240 117.57%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  display: block;
  height: 1px;
  flex-shrink: 0;
  align-self: stretch;
  opacity: 0.1;
  position: relative;
  bottom: -8px;
  background: var(--White, #f5f5f7);
}

.tabs a:first-of-type::after {
  content: "";
  position: absolute;
  height: 1px;
  left: -8px;
  bottom: -9px;
  width: 112px;
  background: linear-gradient(
    125deg,
    #0d8ed3 5.44%,
    #0b60bb 17.95%,
    #0a3aa7 36.44%,
    #6a387d 69.53%,
    #c53754 105.59%,
    #fa5240 117.57%
  );
}

.tabs a:last-of-type {
  color: var(--Dark-gray, #54545f);
}

.events p:is(:nth-child(5), :nth-child(3)) {
  color: var(--Dark-gray, #54545f);
}

.events {
  display: inline-flex;
  height: 7px;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  margin-top: 58px;
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.separator {
  width: 1px;
  height: 17px;
  background: var(--Gray, #8a8a99);
}

.main-event {
  display: flex;
  margin: 32px 32px 24px 32px;
  align-items: flex-start;
  gap: 39px;
  flex: 1 0 0;
  align-self: stretch;
}

.increas-top-margine {
  margin: 89px 32px 24px 32px;
}

.main-event-time {
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.main-event-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.domain {
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
  display: flex;
  padding: 2px 8px 4px 8px;
  align-items: flex-start;
  gap: 10px;
  color: var(--white);
  background: linear-gradient(
    123.15deg,
    rgba(13, 143, 211, 0.68) -3.37%,
    rgba(10, 58, 167, 0.68) 17.75%,
    rgba(197, 55, 84, 0.68) 53.11%,
    rgba(250, 82, 64, 0.68) 70.34%,
    rgba(252, 221, 163, 0.68) 103.4%
  );
  background: #ffffff1a;
}

.title-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 11px;
  align-self: stretch;
}

.sub {
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.yt {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 2.917px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.yt object {
  width: 20px;
  height: 14.167px;
  flex-shrink: 0;
}

.live {
  display: flex;
  height: 14px;
  justify-content: center;
  align-items: center;
}

.live object {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.arrow1 {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 3.754px 0.31px 3.751px 0.357px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.arrow1 object {
  width: 15px;
  height: 8px;
  flex-shrink: 0;
}

.main-event-text {
  font-family: "Fuse V.2 Text";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main-event-presentor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.person {
  display: flex;
  align-items: center;
  gap: 24px;
}

.person img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.person-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.person-name-name {
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: -0.16px;
}

.person-name-description {
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.firm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.dot::after {
  content: "•";
  margin-left: 12px;
  margin-right: 12px;
  height: 4px;
  width: 4px;
}

@media screen and (max-width: 1000px) {
  .schedule-title {
    font-family: "Fuse V.2 Display";
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 125.926% */
    letter-spacing: -0.54px;
  }
  .main-event a:first-of-type {
    font-family: "Fuse V.2 Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.48px;
  }

  .main-event a:last-of-type {
    font-family: "Fuse V.2 Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .events {
    font-family: "Fuse V.2 Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .main-event {
    display: none;
  }
}
