.statistics {
  display: inline-flex;
  align-items: flex-start;
  gap: 80px;
  margin-top: 216px;
  margin-left: 15%;
  width: 85%;
  overflow-x: scroll;
}

.statistics::-webkit-scrollbar {
  display: none;
}

.statistic-num {
  font-family: "Fuse V.2 Display";
  font-size: 122px;
  font-style: normal;
  font-weight: 800;
  line-height: 120px;
  letter-spacing: -2.44px;
}

.statistics-number1 {
  background: conic-gradient(
    from 90deg at 73.72% 50%,
    #c75593 -157.26deg,
    #6a4293 89.27deg,
    #c75593 202.74deg,
    #6a4293 449.27deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics-number2 {
  background: conic-gradient(
    from 117.55deg at 29.17% 50%,
    #694696 -23.56deg,
    #2361a6 107.58deg,
    #c75593 232.77deg,
    #694696 336.44deg,
    #2361a6 467.58deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics-number3 {
  background: conic-gradient(
    from 117.55deg at 29.17% 50%,
    #694696 -40.41deg,
    #2361a6 38.26deg,
    #694696 319.59deg,
    #2361a6 398.26deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics-number4 {
  background: conic-gradient(
    from 103.77deg at -7.1% 67.63%,
    #c75593 -1.87deg,
    #2361a6 281.68deg,
    #694696 332.49deg,
    #c75593 358.13deg,
    #2361a6 641.68deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics-number5 {
  background: conic-gradient(
    from 80.16deg at 53.24% 50%,
    #694696 -47.23deg,
    #804b73 97.91deg,
    #ab415c 150.01deg,
    #c35493 216.76deg,
    #694696 312.77deg,
    #804b73 457.91deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics-number6 {
  background: conic-gradient(
    from 70.42deg at 62.39% 60.9%,
    #694696 -38.75deg,
    #c88f6f 117.45deg,
    #ab415c 221.55deg,
    #804b73 291.42deg,
    #694696 321.25deg,
    #c88f6f 477.45deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics-description {
  font-family: "Fuse V.2 Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media screen and (max-width: 1000px) {
  .statistics {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    width: 100%;
    margin-left: 0;
    margin-top: 272px;
  }

  .statistic-num {
    font-size: 54px;
    line-height: 68px;
    letter-spacing: -0.54px;
  }

  .statistics-container {
    gap: 2px;
    align-items: center;
  }
}
